trunk/com.hooyes.app/AngryApple/AngryApple/Service References/SR/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.hooyes.com/henanSvc/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" />
  <xs:element name="I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" minOccurs="0" name="mc" nillable="true" type="q1:M1" />
        <xs:element minOccurs="0" name="k" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" minOccurs="0" name="IResult" nillable="true" type="q2:R" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" minOccurs="0" name="VResult" nillable="true" type="q3:R" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>