hooyes.Web/hooyes.API/Service References/SinaApiSv/SinaApiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SinaApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISinaApiService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cdn.hooyes.com:9122/SinaApiService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cdn.hooyes.com:9122/SinaApiService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISinaApiService_public_timeline_InputMessage">
    <wsdl:part name="parameters" element="tns:public_timeline" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_public_timeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:public_timelineResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_friend_timeline_InputMessage">
    <wsdl:part name="parameters" element="tns:friend_timeline" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_friend_timeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:friend_timelineResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_user_timeline_InputMessage">
    <wsdl:part name="parameters" element="tns:user_timeline" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_user_timeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:user_timelineResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_mentions_InputMessage">
    <wsdl:part name="parameters" element="tns:mentions" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_mentions_OutputMessage">
    <wsdl:part name="parameters" element="tns:mentionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_timeline_InputMessage">
    <wsdl:part name="parameters" element="tns:comments_timeline" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_timeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:comments_timelineResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_by_me_InputMessage">
    <wsdl:part name="parameters" element="tns:comments_by_me" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_by_me_OutputMessage">
    <wsdl:part name="parameters" element="tns:comments_by_meResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_InputMessage">
    <wsdl:part name="parameters" element="tns:comments" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_comments_OutputMessage">
    <wsdl:part name="parameters" element="tns:commentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_counts_InputMessage">
    <wsdl:part name="parameters" element="tns:counts" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_counts_OutputMessage">
    <wsdl:part name="parameters" element="tns:countsResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_show_InputMessage">
    <wsdl:part name="parameters" element="tns:statuses_show" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_show_OutputMessage">
    <wsdl:part name="parameters" element="tns:statuses_showResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_id_InputMessage">
    <wsdl:part name="parameters" element="tns:statuses_id" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:statuses_idResponse" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_update_InputMessage">
    <wsdl:part name="parameters" element="tns:statuses_update" />
  </wsdl:message>
  <wsdl:message name="ISinaApiService_statuses_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:statuses_updateResponse" />
  </wsdl:message>
  <wsdl:portType name="ISinaApiService">
    <wsdl:operation name="public_timeline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/public_timeline" message="tns:ISinaApiService_public_timeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/public_timelineResponse" message="tns:ISinaApiService_public_timeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="friend_timeline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/friend_timeline" message="tns:ISinaApiService_friend_timeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/friend_timelineResponse" message="tns:ISinaApiService_friend_timeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="user_timeline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/user_timeline" message="tns:ISinaApiService_user_timeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/user_timelineResponse" message="tns:ISinaApiService_user_timeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mentions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/mentions" message="tns:ISinaApiService_mentions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/mentionsResponse" message="tns:ISinaApiService_mentions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="comments_timeline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/comments_timeline" message="tns:ISinaApiService_comments_timeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/comments_timelineResponse" message="tns:ISinaApiService_comments_timeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="comments_by_me">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/comments_by_me" message="tns:ISinaApiService_comments_by_me_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/comments_by_meResponse" message="tns:ISinaApiService_comments_by_me_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="comments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/comments" message="tns:ISinaApiService_comments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/commentsResponse" message="tns:ISinaApiService_comments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="counts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/counts" message="tns:ISinaApiService_counts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/countsResponse" message="tns:ISinaApiService_counts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statuses_show">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/statuses_show" message="tns:ISinaApiService_statuses_show_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/statuses_showResponse" message="tns:ISinaApiService_statuses_show_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statuses_id">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/statuses_id" message="tns:ISinaApiService_statuses_id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/statuses_idResponse" message="tns:ISinaApiService_statuses_id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statuses_update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISinaApiService/statuses_update" message="tns:ISinaApiService_statuses_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISinaApiService/statuses_updateResponse" message="tns:ISinaApiService_statuses_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISinaApiService" type="tns:ISinaApiService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISinaApiService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="public_timeline">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/public_timeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="friend_timeline">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/friend_timeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_timeline">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/user_timeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mentions">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/mentions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comments_timeline">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/comments_timeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comments_by_me">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/comments_by_me" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comments">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/comments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counts">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/counts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statuses_show">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/statuses_show" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statuses_id">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/statuses_id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statuses_update">
      <soap12:operation soapAction="http://tempuri.org/ISinaApiService/statuses_update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SinaApiService">
    <wsdl:port name="WSHttpBinding_ISinaApiService" binding="tns:WSHttpBinding_ISinaApiService">
      <soap12:address location="http://cdn.hooyes.com:9122/SinaApiService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://cdn.hooyes.com:9122/SinaApiService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>