trunk/com.hooyes.app/LMSMonitor/Service References/SMS/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendmsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobileNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgsender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgcontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendtype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendmsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySoapHeader" type="tns:MySoapHeader" />
      <s:complexType name="MySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendmsgSoapIn">
    <wsdl:part name="parameters" element="tns:sendmsg" />
  </wsdl:message>
  <wsdl:message name="sendmsgSoapOut">
    <wsdl:part name="parameters" element="tns:sendmsgResponse" />
  </wsdl:message>
  <wsdl:message name="sendmsgMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:portType name="SendMessageSoap">
    <wsdl:operation name="sendmsg">
      <wsdl:input message="tns:sendmsgSoapIn" />
      <wsdl:output message="tns:sendmsgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMessageSoap" type="tns:SendMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmsg">
      <soap:operation soapAction="http://tempuri.org/sendmsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:sendmsgMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMessageSoap12" type="tns:SendMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmsg">
      <soap12:operation soapAction="http://tempuri.org/sendmsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:sendmsgMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMessage">
    <wsdl:port name="SendMessageSoap" binding="tns:SendMessageSoap">
      <soap:address location="http://api.sms.hooyes.com/SendMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMessageSoap12" binding="tns:SendMessageSoap12">
      <soap12:address location="http://api.sms.hooyes.com/SendMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>