com.hooyes.app/AngryApple/AngryApple/Service References/SR/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="M1">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="flag" type="xs:int" />
      <xs:element minOccurs="0" name="sID" type="xs:int" />
      <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag" type="xs:int" />
      <xs:element minOccurs="0" name="tstamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M1" nillable="true" type="tns:M1" />
  <xs:complexType name="R">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R" nillable="true" type="tns:R" />
</xs:schema>