com.hooyes.app/AngryApple/AngryApple/Service References/SR/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.hooyes.com/LMSSvc/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.hooyes.com/LMSSvc/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.hooyes.com/LMSSvc/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.hooyes.lms.Svc.Model" />
      <xsd:import schemaLocation="http://wcf.hooyes.com/LMSSvc/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_I_InputMessage">
    <wsdl:part name="parameters" element="tns:I" />
  </wsdl:message>
  <wsdl:message name="IService1_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:IResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_V_InputMessage">
    <wsdl:part name="parameters" element="tns:V" />
  </wsdl:message>
  <wsdl:message name="IService1_V_OutputMessage">
    <wsdl:part name="parameters" element="tns:VResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Summary_InputMessage">
    <wsdl:part name="parameters" element="tns:Summary" />
  </wsdl:message>
  <wsdl:message name="IService1_Summary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="I">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/I" message="tns:IService1_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IResponse" message="tns:IService1_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="V">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/V" message="tns:IService1_V_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VResponse" message="tns:IService1_V_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Summary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Summary" message="tns:IService1_Summary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SummaryResponse" message="tns:IService1_Summary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="I">
      <soap:operation soapAction="http://tempuri.org/IService1/I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="V">
      <soap:operation soapAction="http://tempuri.org/IService1/V" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Summary">
      <soap:operation soapAction="http://tempuri.org/IService1/Summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://wcf.hooyes.com/LMSSvc/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>